* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

nav.sticky {
    padding: 10px 100px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
}

nav.sticky .logo,
nav.sticky ul li a {
    color: #ffffff;
}

nav .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

nav ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

nav ul li {
    position: relative;
    list-style: none;
}

nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

body {
    margin-top: 200px;
    background: linear-gradient(#171717, #0e0c0c);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.presentationContainer {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation {
    margin-right: 30px;
    line-height: 60%;
    text-align: center;
}

.presentation h1 {
    color: rgb(252, 21, 4);
    font-size: 60px;
}

.presentation h2 {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px;
    padding-left: 4%;
    padding-right: 4%;
}

.image-perfil {
    width: 250px;
    height: auto;
    border-radius: 10%;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.div-aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: rgba(0, 0, 0, 0.24);
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.text-aboutMe {
    display: flex;
    text-align: center;
    font-size: 20px;
    color: white;
    width: 800px;
}

.published-games {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.published-games h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
}

.games-box {
    margin-top: 70px;
}

.games-images {
    width: 350px;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.selecteed-games-images {
    width: 600px;
    margin: 15px;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.selected-video-test {
    width: 600px;
    border-radius: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.contacts-box {
    padding-top: 150px;
    justify-content: center;
    display: flex;
}

.contacts-box li {
    display: inline;
    margin: 15px;
}

.contacts-icons {
    width: 50px;
    height: 50px;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    padding: 3rem 3.5rem;
}

#footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_contacts h1 {
    display: inline-block;
    font-size: 2rem;
    padding-bottom: 0.4rem;
}
#footer_contacts p {
    display: inline-block;
    font-size: 1.2rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i {
    font-size: 1.3rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
    background-color: #4267b3;
}

#whatsapp {
    background-color: #25d366;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1rem;
    height: 100;
    
}